.searchBar{
      
    width: 700px;
    padding: 10px;
    border-radius: 10px;
    height: 60px;
    border: none;
    background-color: #EEF0F2;
    text-decoration: none;
    font-family: monospace;
    
  
}